.button {
    width: 100%;
    max-width: 120px;
    height: 40px;
    background-color: transparent;
    border-style: solid;
    border-color: #D1D1D1;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 3px;
    /* margin-right: ${(props) => props.style?.marginRight}; */
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33333333333;
    color: var(--text-color-primary);
    cursor: pointer;
    opacity: 1;
    transition: opacity 300ms ease;
    color: var();
}

.button:hover {
    opacity: 0.7;
    transition: opacity 300ms ease;
}

.clear {
    width: unset;
    height: unset;
    background-color: transparent;
    border: 0;
}

.primary {
    background-color: var(--button-bg-primary);
}

.neutral {
    background-color: var(--button-bg-neutral);
}

.positive {
    background-color: var(--button-bg-positive);
}

.negative {
    background-color: var(--button-bg-negative);
}
